.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 1001;
  }

.welcomeModal {
  background-color: #232b38;
  margin: -521px 990px 1px 1px;
  color: white;
  padding: 17px;
  border-radius: 10px;
  width: 301px;
  height: 509px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .welcomeModal__title {
    margin-bottom: 10px;
  }
  
  .welcomeModal p {
    margin-bottom: 20px;
  }
  
  .welcome__input{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: white;
  }
  
   .welcome__submit {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: #8790a4;
    color: white;
    cursor: not-allowed; 
    transition: background-color 0.3s;
    font-size: 15px 
  }
  
  .welcome__submit.active {
    background: linear-gradient(180deg, #FF416C 0%, #FF4B2B 100%);
    cursor: pointer; 
  }
  
  .welcome__submit:hover:enabled {
    background: linear-gradient(180deg, #e55c7c 0%, #FF4B2B 100%);
  }
  