.playerInput{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column; 
    /* background-color: #0e1421; */
    max-width: 300px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 20px;
}

.icon {
    color: white;
}

.playerInput__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
}

.playerInput__points{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: blue;
    padding: 20px 10px 10px;
}

.playerInput__points_down{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(180deg, #2B2B2B 0%, #1E1E1E 100%);
}

.playerInput__point_text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -57px -59px -4px 12px;
    color: gray;
}

.playerInput__points_input{
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin: 0 10px;
    background-color: black;
    color: white;
    border: none; 
    padding: 1px;   
}

.playerInput__points_up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(180deg, #2B2B2B 0%, #1E1E1E 100%);
    cursor: pointer;
    border-radius: 5px;
}

.playerInput__multiplier{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 40px;  
    background-color: blue;
    padding: 20px 10px 10px;
    border-radius: 10px;
}

.playerInput__multiplier_down{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(180deg, #2B2B2B 0%, #1E1E1E 100%);
    cursor: pointer;
    border-radius: 5px;
}

.playerInput__multiplier_text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -57px -76px -4px 12px;
    color: gray;
    padding: 1px;
}

.playerInput__multiplier_input{
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin: 0 10px;
    background-color: black;
    color: white;
    border: none;   
}

.playerInput__multipilier_up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(180deg, #2B2B2B 0%, #1E1E1E 100%);
    cursor: pointer;
    border-radius: 5px;
}

.playerInput__submit{
    background: linear-gradient(180deg, #FF416C 0%, #FF4B2B 100%);
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}