.currentRound {
    color: white;
    padding: 10px 20px 20px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.currentRound__title {
    margin-bottom: 5px;
    margin-left: 25px;
}

.currentRound__logo{
    height: 20px;
    width: 15px;
    margin: 0 10px 0 0;
    padding: 0;

}

.currentRound__table {
    margin-left: 20px;
    width: 23%;
    border-collapse: collapse;
}

.table__row--you {
    background-color: #475062;

}

.table__row--cpu1,
.table__row--cpu3 {
    background-color: #262e39;
}

.table__row--cpu2,
.table__row--cpu4 {
    background-color: #1a222b;
}

.tableH {
    padding: 10px;
    text-align: left;
}

.table__data {
    padding: 10px;
    /* border-top: 1px solid #555; */
}


.table__row--winner {
    color: green;
}

.table__row--loser {
    color: red;
}