.ranking {
  margin-top: -13px;
  margin-left: 20px;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 520px;
}

.ranking__title {
  margin-bottom: 10px;
}

.ranking__table {
  width: 100%;
  background-color: #151a21;
  border-collapse: collapse;
  border-radius: 19px;
  border-spacing: 0;  
}

.ranking__table th,
.ranking__table td {
  text-align: left;
  padding: 8px;
}

.ranking__tableBody tr:last-child td:first-child {
  border-bottom-left-radius: 10px; 
}

.ranking__tableBody tr:last-child td:last-child {
  border-bottom-right-radius: 10px; 
}

.ranking__table th {
  /* border-bottom: 1px solid grey; */
}

.table__row--you {
  background-color: #1a222b;

}

.table__row--cpu1,
.table__row--cpu3 {
  background-color: #262e39;
}

.table__row--cpu2,
.table__row--cpu4 {
  background-color: #1a222b;
  border-radius: 20px;
}