
.gameBoard {
    position: absolute;
    top: 8%;
    left: 28%;
    width: 656px;
    height: 451px;
    background-color: #232b38;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.graph {
    width: 100px; 
    height: 451px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graph__multiplier {
    top: 21%;
    left: 36%;
    color: white;
    font-size: 66px;
    position: absolute;
}

.graph__line {
    /* padding-top:20px; */
    margin-top: 130px;
    box-sizing: border-box;
    display: block;
    height: 264px;
    width: 669px;
}



.lineContainer {
    position: absolute;
    top: 74%;
    left: 3%;
    width: 100%;
  }
  
  .baseLine {
    position: absolute;
    width: 95%;
    height: 1px;
    background-color: #ccc;
    top: 193%;
    left: 0%;
    transform: translateY(-50%);
  }

  .ball{
    translate: none;
    rotate: none;
    scale: none;
    transform-origin: 393px -614px 325px;
    opacity: 1;
    visibility: inherit
  }